.bulk-action {
    .bulk-form {
        .bulk-select {
            padding: 5px 10px 5px 5px;
            font-size: 14px;
            border-radius: 4px;
        }
        .bulk-submit {
            font-size: 14px;
            padding: 5px 20px;
            background-color: var(--main-color);
            color: #FFF;
            border-radius: 4px;
            vertical-align: bottom;
            &:hover {
                background-color: var(--main-color-hover);
            }
        }
    }
}