footer {
    grid-area: foot;
    font-size: 12px;
    @media ( max-width: $lg ) {
        @include responsive-property(margin-top, 15px, 20px, 30px);
    }
    .developer {
        i {
            color: red;
        }
    }
}