.filter-wrapper {
	@include prefix(display, flex);
	flex-direction: column;
	-ms-flex-direction: column;
	.filter-title {
		margin-bottom: 10px;
	}
	.inputs-wrapper {
		border-radius: 5px;
		border: 1px solid var(--border-color);
		overflow: hidden;
		#filter-analytics-data {
			@include prefix(display, flex);
			label {
				background-color: var(--body-background);
				padding: .5rem 1rem;
			}
			select {
				height: 100%;
				border: none;
				background-color: var(--box-bg-color);
				color: var(--text-color);
				padding: 0 10px;
			}
	
			.btn {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}